# System files
nul
nuuid.ini
useruid.ini
*.ini
*.log
*.txt
*.sh
*.pyc
*.sealed
*.manifest

# Build and dependency files
pip/
scoop/
sdk/
node_modules/
pnpm-lock.yaml
yarn.lock
*.lock
*.zip
*.rar
*.7z

# Local configs and backups
*.bak
*-Copy.*
*.backup
*.json.sealed

# Directories to ignore
openpdf/
redirect-theme/
source/
sovereign_archive/
stable-diffusion-webui/
tauri-app/
terraform-ec2-2025/
theme-tools/
thorium/
vmlogs/
xbrain/
xenna-pay/
xeta-pay-dashboard/
xeta_pay_provider_console/
zed/
projects/
python-sdk/
servers/
sv9-ace-section-ecom/
sv9-ace-section-ecom-backup/
sv9-clean/
sv9_wrath/
velrion_sovereignty/
silvercloud-fusion/
silversurface/
qalisa-commerce-1759278672.22155/
